plugins/linkedin-maxvision/n8n-workflows/linkedin-recruiter-reply.json
{
  "name": "LinkedIn Recruiter Reply — MaxVision",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "linkedin-recruiter-reply",
        "responseMode": "responseNode",
        "authentication": "headerAuth"
      },
      "id": "webhook-trigger",
      "name": "Webhook (recruiter event)",
      "type": "n8n-nodes-base.webhook",
      "position": [240, 300],
      "typeVersion": 2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "webhook-secret",
          "name": "MCP Webhook Secret"
        }
      }
    },
    {
      "parameters": {
        "model": "claude-haiku-4-5-20251001",
        "options": { "temperature": 0.3 },
        "messages": {
          "messages": [
            {
              "role": "user",
              "content": "=Você é um candidato profissional. Um recrutador enviou:\n\n\"{{ $json.body.recruiterMessage }}\"\n\nResponda em pt-BR de forma educada, concisa (máximo 800 chars), e que demonstre interesse mas pergunte sobre faixa salarial, modelo de trabalho, e principais responsabilidades. Não inclua saudação extensa nem assinatura."
            }
          ]
        }
      },
      "id": "claude-draft",
      "name": "Claude — Draft Reply",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "position": [460, 300],
      "typeVersion": 1.3,
      "credentials": {
        "anthropicApi": {
          "id": "anthropic-api",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.MCP_URL }}/mcp",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/json, text/event-stream" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"jsonrpc\": \"2.0\",\n  \"id\": 1,\n  \"method\": \"tools/call\",\n  \"params\": {\n    \"name\": \"send_message\",\n    \"arguments\": {\n      \"recipientUrl\": \"{{ $('Webhook (recruiter event)').item.json.body.recruiterProfileUrl }}\",\n      \"body\": \"{{ $json.text }}\",\n      \"confirm\": false,\n      \"accountId\": \"{{ $env.MCP_ACCOUNT_ID || 'sandbox-1' }}\"\n    }\n  }\n}"
      },
      "id": "mcp-send",
      "name": "MCP send_message (preview)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [680, 300],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "mcp-bearer",
          "name": "MCP Bearer Token"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=📩 *Recruiter:* {{ $('Webhook (recruiter event)').item.json.body.recruiterName }}\n\n_Original:_\n{{ $('Webhook (recruiter event)').item.json.body.recruiterMessage }}\n\n_Drafted reply:_\n{{ $('Claude — Draft Reply').item.json.text }}\n\nReply with /confirm to actually send.",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "telegram-review",
      "name": "Telegram Review",
      "type": "n8n-nodes-base.telegram",
      "position": [900, 300],
      "typeVersion": 1.1,
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"drafted\": true, \"awaitingConfirm\": true }"
      },
      "id": "respond",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [1120, 300],
      "typeVersion": 1.1
    }
  ],
  "connections": {
    "Webhook (recruiter event)": { "main": [[{ "node": "Claude — Draft Reply", "type": "main", "index": 0 }]] },
    "Claude — Draft Reply": { "main": [[{ "node": "MCP send_message (preview)", "type": "main", "index": 0 }]] },
    "MCP send_message (preview)": { "main": [[{ "node": "Telegram Review", "type": "main", "index": 0 }]] },
    "Telegram Review": { "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "meta": {
    "description": "MaxVision LinkedIn — Recruiter Reply with human-in-the-loop. Drafts via Claude, posts review to Telegram. Confirm flow TBD (Sprint 5.5)."
  }
}
